/* CSS file website T.C. Bakker, t.c.bakker@hhs.nl

colors:
light-blue: #B3DEE5
lighter-blue: #E0F6F9
dark-orange: #FFA101
light-orange: #FAE6B1
dark-gray: #31525B
light-gray: #D4D2D6
terra: #BE5640

*/

/* header */
#quarto-header {
    background: #B3DEE5;
    padding-top: 1.0em;
    padding-bottom: 1.0em;
    border-bottom: 1px solid #dee2e6;
}

/* navbar */
.navbar{
    background: #B3DEE5;
}

.navbar-title{
    color: #31525B;
    font-weight: 400;
}

a.nav-link:hover .menu-text{
    color: #FFA101 !important;
}

a.navbar-brand:hover .navbar-title {
    color: #FFA101 !important;
}

a.navbar-brand:hover {
    text-decoration: none !important;
}

.nav-link{
    text-decoration: none !important;
}

.menu-text{
    font-size: 1.25rem !important;
    font-weight: 400;
}

/* description */
.description {
    color: #BE5640;
}

/* anchors / categories */
.quarto-categories a:hover,
.quarto-title-meta-contents a:hover {
    color: #FFA101 !important;
    text-decoration: none !important;
}

.listing-category:hover,
.card-title:hover,
.quarto-listing-category .category:hover {
    color: #FFA101 !important;
}

/* banner */
.quarto-title-banner {
    background: #B3DEE5;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
}

.subtitle{
    color: #FFFFFF;
    font-weight: 400;
}

/* body background-image: url("../images/_site/logo-hapax-bg-opacity-05_v3.png"); */
body {
  background-image: url("../images/_site/logo-hapax-bg-opacity-05_v3.png");
  background-repeat: no-repeat;
  background-size: 25%;
  background-position-x: 30px;
  background-position-y: 180px;
}

.logo-wrapper {
    display: grid;
    grid-template-columns: 200px 20px 200px;
}

.logo-hhs {
    width:200px;
    height:70px;
    margin:0;
    padding:0;
    background-image: url("../images/_site/hhs_nl_groen_hex.png");
    background-size: 200px;
    background-repeat: no-repeat;
    cursor: pointer;
}

.logo-vu {
    width:200px;
    height:70px;
    margin:0;
    padding:0;
    background-image: url("../images/_site/logo-vu.png");
    background-size: 200px;
    background-repeat: no-repeat;
    cursor: pointer;
}

/* headers */
h1, h2, h3, h4 {
    color: #31525B;
}

h2 {
    border-bottom: 1px solid #FAE6B1;
}

h3, .h3{
    font-size: 1.25rem !important;
    font-weight: 400;
}

h4, .h4{
    font-size: 1.00rem !important;
    font-weight: 400;
}

/* anchors */
a, a.active {
    color: #FFA101;
    text-decoration: none;
}

a:hover {
    color: #FFA101;
    text-decoration: underline;
}

/* sidebar */
.sidebar nav[role=doc-toc] ul>li>a.active,
.sidebar nav[role=doc-toc] ul>li>ul>li>a.active {
    border-left: 3px solid #FFA101;
    color: #FFA101 !important;
    font-weight: 400;
}

.sidebar nav[role=doc-toc] ul>li>a:hover,
.sidebar nav[role=doc-toc] ul>li>ul>li>a:hover {
    color: #FFA101;
    text-decoration: none;
}

.column-margin img {
    border: 1px solid #31525B;
}

/* images */
.use-border {
    border: 1px solid darkgrey !important;
}

/* cards */

@media (max-width: 575px) {

.link-cards .card {
  margin-bottom: 20px;
  margin-right: 35px;
  background: transparent !important;
}

}

@media (min-width: 576px) {
.link-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background: transparent !important;
}

.link-cards .card {
  width: 220px;
  margin: 0 20px 12px 0;
  background: transparent !important;
}


}


.link-cards .card {
  border: none;
  padding: 0;
  background: transparent !important;
}

.link-cards .card-title h4 {
  margin-top: 0;
  font-weight: bolder;
}

.link-cards .card-title p {
  margin-bottom: 0;
}

.link-cards .card-subtitle {
  margin-bottom: 0.7rem;
}

.link-cards .card-body {
  padding: 0.5rem;
  padding-left: 0.1rem;
}

.link-cards .card-body ul {
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}

.link-cards .card-body ul a {
  text-decoration: none;
}

.link-cards .card-body ul a:hover {
  text-decoration: underline;
}

.link-cards .card-body ul li {
  padding-bottom: 0.2rem;
}

/* other */
.pipe {
    color: #CDCDCD;
}

.nota-bene {
    background-color: #E0F6F9;
    border: 1px solid #D4D2D6;
    padding: 10px 10px 10px 10px;
    margin-bottom: 20px;
}

