/* CSS file website T.C. Bakker, t.c.bakker@hhs.nl

colors:
ligth-blue: #B3DEE5
dark-orange: #FFA101
light-orange: #FAE6B1
dark-gray: #31525B
terra: #BE5640

*/

/* header */
#quarto-header {
    background: #B3DEE5;
    padding-top: 1.0em;
    padding-bottom: 1.0em;
    border-bottom: 1px solid #dee2e6;
}

/* navbar */
.navbar{
    background: #B3DEE5;
}

.navbar-title{
    color: #31525B;
    font-weight: 400;
}

a.nav-link:hover .menu-text{
    color: #FFA101 !important;
}

a.navbar-brand:hover .navbar-title {
    color: #FFA101 !important;
}

a.navbar-brand:hover {
    text-decoration: none !important;
}

.nav-link{
    text-decoration: none !important;
}

.menu-text{
    font-size: 1.25rem !important;
    font-weight: 400;
}

/* description */
.description {
    color: #BE5640;
}

/* anchors / categories */
.quarto-categories a:hover,
.quarto-title-meta-contents a:hover {
    color: #FFA101 !important;
    text-decoration: none !important;
}

.listing-category:hover,
.card-title:hover,
.quarto-listing-category .category:hover {
    color: #FFA101 !important;
}

/* banner */
.quarto-title-banner {
    background: #B3DEE5;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
}

.subtitle{
    color: #FFFFFF;
    font-weight: 400;
}

/* body */
body {
  background-image: url("images/_site/logo-hapax-bg-opacity-05_v3.png");
  background-repeat: no-repeat;
  background-size: 25%;
  background-position-x: 30px;
  background-position-y: 180px;
}

.logo-wrapper {
    display: grid;
    grid-template-columns: 200px 20px 200px;
}

.logo-hhs {
    width:200px;
    height:70px;
    margin:0;
    padding:0;
    background-image: url("images/_site/hhs_nl_groen_hex.png");
    background-size: 200px;
    background-repeat: no-repeat;
    cursor: pointer;
}

.logo-vu {
    width:200px;
    height:70px;
    margin:0;
    padding:0;
    background-image: url("images/_site/logo-vu.png");
    background-size: 200px;
    background-repeat: no-repeat;
    cursor: pointer;
}

/* headers */
h1, h2, h3, h4 {
    color: #31525B;
}

h2 {
    border-bottom: 1px solid #FAE6B1;
}

h3, .h3{
    font-size: 1.25rem !important;
    font-weight: 400;
}

h4, .h4{
    font-size: 1.00rem !important;
    font-weight: 400;
}

/* anchors */
a, a.active {
    color: #FFA101;
    text-decoration: none;
}

a:hover {
    color: #FFA101;
    text-decoration: underline;
}

/* sidebar */
.sidebar nav[role=doc-toc] ul>li>a.active,
.sidebar nav[role=doc-toc] ul>li>ul>li>a.active {
    border-left: 3px solid #FFA101;
    color: #FFA101 !important;
    font-weight: 400;
}

.sidebar nav[role=doc-toc] ul>li>a:hover,
.sidebar nav[role=doc-toc] ul>li>ul>li>a:hover {
    color: #FFA101;
    text-decoration: none;
}

.column-margin img {
    border: 1px solid #31525B;
}

/* images */
.use-border {
    border: 1px solid darkgrey !important;
}

/* other */
.pipe {
    color: #CDCDCD;
}
